extends layout

block content
  - for (var i = 0; i < 30; ++i)
      marquee.up(direction="up") owned
  div.lol
    marquee.bounce(direction="down" behavior="alternate")
      marquee(behavior="alternate") yes
  marquee.omg
    span.rainbow omg
