extends layout

block content
  - for (var i = 0; i < 30; ++i)
      marquee.up(direction="up") owned
  div.lol
    h1#theDiv YES
    br
    img.gif(src="" class="gif")
  marquee.omg
    span.rainbow omg
