extends layout

block content

  marquee.up(direction="up") owned
  div.lol
    marquee.bounce(direction="down" behavior="alternate")
      marquee(behavior="alternate") yes
  marquee.omg
    span.rainbow omg
