extends layout

block content
  - for (var i = 0; i < 30; ++i)
    marquee.up(direction="up") owned
  div.lol
    h1 YES
    br
    img.gif(src="" class="gif")
    h3 made by 
      a(href='http://sick.af') sick.af
  marquee.omg
    span.rainbow omg