doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/didijustgetowned.css')
  body
    block content
    block scripts
      script(type='text/javascript' src='/javascripts/didijustgetowned.js')