doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/didijustgetowned.css')
  body
    block content
    block scripts
      script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
      script.
        if (!window.jQuery) { document.write('<script src="js/jquery.min.js"><\/script>'); }
      script(type='text/javascript' src='/javascripts/didijustgetowned.js')