body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.yes {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 100px;
}

.omg{
  font-size:500px;
}

.bounce {
  border:solid;
  width:500px;
  height:400px;
  font-size:125px;
}


.lol {
  text-align:center;
}
